<div class="swiper-container swiper-slider" id="home" data-autoplay="5000" data-loop="true" data-slide-effect="fade">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><img src="images/home-slide-3-1920x600.jpg" alt="" width="1920" height="600" />
      <div class="swiper-slide-caption">
        <div class="shell text-center text-sm-left">
          <div class="range">
            <div class="cell-sm-8 cell-md-8 cell-lg-7">
              <h1>
                Fachmann. Freundlich.
                Höflich.
              </h1>
              <div class="swiper-slide-text">
                <h5 class="text-style-1">
                  Viktor ist bereit, Ihnen bei all Ihren
                  Reparatur- und Servicebedarf von Geräten.
                </h5>
              </div>
              <div class="offset-top-35"><a class="btn btn-primary btn-mod-1" href="#" data-toggle="modal"
                  data-target="#diagnostic">Kontakt</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide"><img src="images/home-slide-2-1920x600.jpg" alt="" width="1920" height="600" />
      <div class="swiper-slide-caption">
        <div class="shell text-center text-sm-left">
          <div class="range">
            <div class="cell-sm-8 cell-md-8 cell-lg-6">
              <h1>
                Kundendienst
                Ist kein Dienst,
                Es ist eine Haltung.
              </h1>
              <div class="offset-top-35 offset-sm-top-65"><a class="btn btn-primary btn-mod-1" href="#"
                  data-toggle="modal" data-target="#diagnostic">Kontakt</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide"><img src="images/home-slide-1-1920x600.jpg" alt="" width="1920" height="600" />
      <div class="swiper-slide-caption">
        <div class="shell text-center text-sm-left">
          <div class="range">
            <div class="cell-sm-8 cell-md-8 cell-lg-9">
              <h1>Kundendienst<br class="veil reveal-sm-block">Ist unsere Priorität Nummer 1!</h1>
              <div class="swiper-slide-text">
                <h5 class="text-style-1">Unser Team ist immer bereit, einen qualitativ hochwertigen Kundenservice zu
                  bieten</h5>
              </div>
              <div class="offset-top-35"><a class="btn btn-primary btn-mod-1" href="#" data-toggle="modal"
                  data-target="#diagnostic">Kontakt</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Swiper Pagination-->
  <div class="swiper-pagination-wrap">
    <div class="shell">
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>