{% load custom_tags %}

<div class="swiper-container swiper-slider" id="home" data-autoplay="5000" data-loop="true" data-slide-effect="fade">
  <div class="swiper-wrapper">
    {% get_slider_images as images %}
    {% for img in images %}
    <div class="swiper-slide"><img src="{{ img.image.url }}" alt="{{ image.title }}" width="1920" height="600" />
      <div class="swiper-slide-caption">
        <div class="shell text-center text-sm-left">
          <div class="range">
            <div class="cell-sm-8 cell-md-8 cell-lg-7">
              <h1>
                {{ img.title }}
              </h1>
              <div class="swiper-slide-text">
                <h5 class="text-style-1">
                  {{ img.text }}
                </h5>
              </div>
              <div class="offset-top-35"><a class="btn btn-primary btn-mod-1" href="#" data-toggle="modal"
                  data-target="#diagnostic">Kontakt</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <!-- Swiper Pagination-->
  <div class="swiper-pagination-wrap">
    <div class="shell">
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>